@charset "UTF-8";
body {
  background-color: whitesmoke; }

.headerstyle {
  background-image: linear-gradient(to bottom, #403F4C, #908F91); }

h1 {
  color: #79a6ee; }

h2 {
  color: #21c1c7; }

h3 {
  color: #79a6ee; }

h4 {
  color: #6e8e86; }

p {
  color: #026dca; }

.p__gray {
  color: #908F91; }

footer {
  background-color: #403F4C;
  color: lightslategray; }

.btable {
  border-color: lightskyblue; }

.tablet {
  color: cadetblue; }

.imglogo {
  width: 200px;
  transform: translateY(170%);
  margin-left: 2%; }

.imgini {
  width: 400px;
  height: 500px; }

.imgal {
  width: 100%;
  height: 150px;
  margin: 30px;
  box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.548);
  transition: 1s; }

.imgal:hover {
  transform: scale(1.1); }

.imgcar {
  width: 100%;
  height: 150px; }

.imagen__producto {
  width: 100%;
  height: auto;
  margin-top: 25px; }

.img__descarga {
  width: 45%; }

body {
  font-family: 'Cabin', sans-serif; }

header {
  grid-area: myheader; }

.headerstyle {
  background-image: linear-gradient(to bottom, #403F4C, #908F91);
  height: 100px;
  width: 100%;
  background-size: cover; }

nav {
  grid-area: mynav;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around; }

aside {
  grid-area: myaside; }

section {
  grid-area: mysection; }

h1 {
  color: #79a6ee;
  font-size: 25px;
  text-align: left;
  letter-spacing: 8px;
  margin: 25px; }

h2 {
  color: #21c1c7;
  padding-top: 0px; }

h3 {
  color: #79a6ee; }

h4 {
  color: #6e8e86; }

p {
  font-size: medium;
  color: #026dca; }

.p__gray {
  color: #908F91; }

.just {
  text-align: center; }

footer {
  color: lightslategray;
  font-size: small;
  font-style: italic;
  grid-area: myfooter;
  background-color: #403F4C;
  margin-top: 20px;
  width: 100%;
  padding: 20px 10px;
  position: relative; }

#b__footer {
  width: 60%; }

/* padres */
.padregal {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-between; }

.padrebn {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end; }

.padrecontact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: stretch; }

.padrearticle {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center; }

/* tablas, listas y formularios */
.btable {
  border-collapse: collapse;
  text-align: justify;
  border-color: lightskyblue;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  width: auto;
  display: none; }

.shortable {
  border-collapse: collapse;
  text-align: justify;
  border-color: lightskyblue;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
  width: auto; }

.list {
  list-style-type: square;
  list-style-position: outside;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 25px; }

.list__descarga {
  list-style-type: square;
  list-style-position: outside;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 40px;
  font-size: 25px; }

.list__contacto {
  list-style-type: square;
  list-style-position: outside;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 20px;
  line-height: 40px; }

.list__form {
  font-style: normal;
  font-weight: 500;
  margin-bottom: 2px;
  line-height: 40px; }

.tablet {
  color: cadetblue; }

.contenedor__descarga {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 25px; }

/*Acordeón y Cards*/
.acordeon input {
  display: none; }

.acordeon__titulo {
  display: block;
  padding: 15px;
  color: #026dca;
  font-size: 30px;
  cursor: pointer;
  border-bottom: 1px solid #fff; }

.acordeon__titulo :hover {
  background: #92dde2; }

.acordeon__contenido {
  height: 0;
  overflow: hidden;
  margin: 0;
  transition: all 0.5s;
  color: #908F91;
  line-height: 25px;
  font-style: italic; }

.acordeon input:checked ~ .acordeon__contenido {
  height: auto;
  margin: 15px 0; }

.acordeon__items {
  border: 2px solid #c9d8f1; }

.containercard {
  width: 100%;
  max-width: 1000px;
  height: 230px;
  margin: auto;
  margin-top: 80px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px; }

.card {
  width: 300px;
  background: #79a6ee;
  padding-bottom: 20px;
  box-shadow: 0px 20px 50px -10px #000; }

.cardheader {
  padding: 10px;
  text-align: center;
  background: cornsilk; }

.cardini {
  width: 100%; }

.cardini img {
  display: block;
  margin: auto;
  width: 50px;
  padding: 0px; }

.textc {
  margin-top: 10px;
  text-align: justify;
  font-size: 10px;
  padding: 0px 25px; }

/*bottones*/
.buttonwpp {
  position: fixed;
  width: 55px;
  height: 55px;
  line-height: 55px;
  bottom: 30px;
  right: 30px;
  background: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100; }

.buttonwpp:hover {
  text-decoration: none;
  color: #0df053;
  background: #fff; }

/*resaltador de texto con recuadro*/
.marc {
  border-radius: 10px;
  border-style: solid;
  border-color: slategray;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  width: auto; }

/*MENU*/
.margin-btn {
  margin-left: 30px !important;
  border-right: #6a91d1 solid 2px; }

/*grids*/
main {
  color: gainsboro;
  margin: 0% auto;
  max-width: 1000 px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100px 50px 1fr 100px 200px;
  grid-template-areas: "myheader myheader myheader" "mynav mynav mynav" "mysection mysection mysection" "myfooter myfooter myfooter"; }

/*Desktop*/
@media only screen and (min-width: 1020px) {
  body {
    display: grid;
    grid-template-columns: 6fr 2fr 2fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "myheader myheader myheader" "mynav mynav mynav" "mysection mysection mysection" "myfooter myfooter myfooter"; }
  .headerstyle {
    height: 150px; }
  .containercard {
    width: 100%;
    max-width: 1000px;
    height: 430px;
    margin-top: 600px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly; }
  .card {
    width: 350px;
    background: #79a6ee;
    padding-bottom: 20px;
    box-shadow: 0px 20px 50px -10px #000; }
  .cardheader {
    padding: 10px;
    text-align: center;
    background: cornsilk; }
  .cardini {
    width: 100%; }
  .cardini img {
    display: block;
    margin: auto;
    width: 200px;
    padding: 20px; }
  .textc {
    margin-top: 10px;
    text-align: center;
    font-size: 15px; }
  .imgal {
    width: 400px;
    height: 300px;
    margin: 30px;
    box-shadow: 3px 5px 25px rgba(0, 0, 0, 0.548);
    transition: 1s; }
  .imglogo {
    width: 350px;
    margin-top: 50px;
    transform: translateX(250%); }
  .imagen__producto {
    width: 500px;
    height: 500px;
    margin-bottom: 25px;
    padding-left: 10px; }
  .imgcar {
    width: 100%;
    height: 400px; }
  .list__descarga {
    font-size: 20px; }
  .btable {
    display: block; }
  .shortable {
    display: none; }
  .btn-group {
    display: none; }
  .padrearticle {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
  .footer__line {
    display: grid;
    grid-template-columns: 3fr 2fr 1.2fr; }
  #b__footer {
    width: 40%; } }

@media only screen and (min-width: 768px) {
  body {
    display: grid;
    grid-template-columns: 6fr 2fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas: "myheader myheader" "mynav mynav" "mysection mysection" "myfooter myfooter"; } }
